<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="spinner" style="display:none"></div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.RazorSharpActionLink("Application name", "Main", "ApplicationStart", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <!-- MENU -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.RazorSharpActionLink("Home", "Index", "Home")</li> @*<a href="/#/Home/Index">Home</a>*@
                    <li>@Html.RazorSharpActionLink("Users", "Index", "UsersAdmin")@*<a href="/#/UsersAdmin/Index">Users</a>*@</li>
                    <li>@Html.RazorSharpActionLink("About", "About", "Home")@*<a href="/#/Home/About">About</a>*@</li>
                    <li>@Html.RazorSharpActionLink("Contact", "Contact", "Home")@*<a href="/#/Home/Contact">Contact</a>*@</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div rs-body>
            @Html.Partial("../Home/Index")
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery") @*jquery is required*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval") 
    <script src="~/Scripts/razorsharp.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>
